# Primera clase de Python week 01

## Este es un encabezado secundario

### Header 3

#### Header 4

###### Header 5

Texto normal por aquí, podemos añadir un **texto en negrita**, o *cursiva*, y además ***cursiva en negrita***.

Podemos añadir una lista de elementos:

* Elemento 1
* Elemento 2
* Elemento 3

1. Elemento A
2. Elemento B
3. Elemento C

* Elemento 1
  * sub elemento 1

Si quiero crear un pseudo-código

```{python}
    print("Hello World!")
```

## Functiones built-in

In [1]:
# Este es un comentario en una celda del código
# Otra línea de comentario
"""
https://docs.python.org/3.9/library/functions.html
"""

'\nhttps://docs.python.org/3.9/library/functions.html\n'

## Funciones UDF (User defined functions)

In [2]:
# Definimos esta funcion no hace abs 
def comentario(the_bridge=None):
    """
    Este es un comentario de la función
    viene bien crear una descripción de la misma
    para comentar argumentos, resultado esperado...bla bla bla...bla
    
    """
    # print("Hola")
    pass

Hemos observado que la función bla bla bal

In [3]:
comentario()

In [4]:
# Creamos unas variables
nombre_de_variable = 'Cadena de texto'
nombre_de_variable

'Cadena de texto'

**NO** es una buena práctica crear variables en...

In [5]:
# No es una práctica crear variables
CIUDAD = "Barcelona" # may
CIUDAD

ciudadesDeEspaña = "Barcelona"

In [6]:
# Evitamos de crear una variable con un nombre reservado
# print = "Madrid"
# print

In [7]:
# No podemos crear una variable con guiones medios
ciudades-de-madrid = "Madrid"

SyntaxError: cannot assign to operator (2722434465.py, line 2)

In [8]:
type(ciudadesDeEspaña)

str

In [9]:
type(comentario)

function

In [10]:
valores_numerico = 56

In [11]:
type(valores_numerico)

int

In [12]:
booleana_verdades = True
booleana_falsa = False

In [13]:
type(booleana_falsa)

bool

In [14]:
type(None)

NoneType

In [15]:
valores_decimales = 10.5
type(valores_decimales)

float

## Creación de objetos en Python

- `list()` listas, array, arreglos... --> list() ... []
- `dict()` diccionario --> dict(), {}, {key:value}
- `tuple()` tupla --> tuple() (lat, lon)
- `set()`

## Listas

Son objetos que almacen valores del mismo tipo o diferente, pero también
pueden tener otros objetos de valores.

```
# Inicializar una lista
lista_valores = list()
```

```
# Inicializar una lista
lista_valores_dos = []
```

In [16]:
lista_valores = ["A", "B", 1, .5, None, True, ["C", 2, False]]
lista_valores

['A', 'B', 1, 0.5, None, True, ['C', 2, False]]

In [17]:
type(lista_valores)

list

Las listas son objetos **mutables**, es decir, pueden transformarse, cambiar de tipo y nombre

In [18]:
lista_de_elementos_nuevos = lista_valores
lista_de_elementos_nuevos

['A', 'B', 1, 0.5, None, True, ['C', 2, False]]

In [19]:
lista_de_elementos_nuevos = 5
lista_de_elementos_nuevos

5

In [20]:
# Volvemos a crear la lista
lista_de_elementos_nuevos = lista_valores
type(lista_de_elementos_nuevos)
# Utilizando el operador == comparamos objetos
lista_de_elementos_nuevos == lista_valores

True

In [21]:
lista_de_elementos_nuevos > lista_valores # mayor estricto

False

In [22]:
lista_de_elementos_nuevos < lista_valores # menor estricto

False

In [23]:
lista_de_elementos_nuevos >= lista_valores # mayor o igual que

True

In [24]:
lista_de_elementos_nuevos <= lista_valores # menor o igual que

True

In [25]:
lista_de_elementos_nuevos != lista_valores # negación

False

In [26]:
# podemos utilizar funciones built-in , udf
len(lista_de_elementos_nuevos) # devuelve el num de elementos del objeto

7

In [27]:
# Podemos aprovechar de las propiedades de las funciones, métodos 
lista_de_elementos_nuevos.append(5)

In [28]:
lista_de_elementos_nuevos

['A', 'B', 1, 0.5, None, True, ['C', 2, False], 5]

In [29]:
# Elimina el último elemento y devuelve el elemento eliminado
lista_de_elementos_nuevos.pop()

5

In [30]:
# métodos de List, añadimos . al final del objeto y obtenemos el listado de los métodos o propiedades del objeto.
lista_de_elementos_nuevos

['A', 'B', 1, 0.5, None, True, ['C', 2, False]]

In [31]:
# Muestra en pantalla la posición 1 (índice 0) del objeto lista
type(lista_de_elementos_nuevos[0])

str

In [32]:
# Devuelve los elementos del índice 1 a índice 3 -1 posición
lista_de_elementos_nuevos[1:3]

['B', 1]

In [33]:
type(lista_de_elementos_nuevos[1:3])

list

In [34]:
lista_de_elementos_nuevos

['A', 'B', 1, 0.5, None, True, ['C', 2, False]]

In [35]:
lista_de_elementos_nuevos[0] == lista_de_elementos_nuevos[1]

False

In [36]:
lista_de_elementos_nuevos[0] > lista_de_elementos_nuevos[1]

False

In [37]:
lista_de_elementos_nuevos[0] < lista_de_elementos_nuevos[1]

True

In [38]:
lista_de_elementos_nuevos[-1] == lista_de_elementos_nuevos[-2]

False

In [39]:
lista_de_elementos_nuevos[-4]

0.5

In [40]:
lista_de_elementos_nuevos

['A', 'B', 1, 0.5, None, True, ['C', 2, False]]

In [41]:
# Los dos puntos de separación de start y end limita la salida de los elementos
lista_de_elementos_nuevos[:]

['A', 'B', 1, 0.5, None, True, ['C', 2, False]]

In [42]:
lista_de_elementos_nuevos[:-2] # devuelve todos los elementos hasta el índice -2 (-1)

['A', 'B', 1, 0.5, None]

In [43]:
# :: sería desde start a end con paso 1, es decir devuelve los elementos de uno en uno
lista_de_elementos_nuevos[::1]

['A', 'B', 1, 0.5, None, True, ['C', 2, False]]

In [44]:
# ::2 sería desde start a end , con pasos alternos
lista_de_elementos_nuevos[::2]

['A', 1, None, ['C', 2, False]]

In [45]:
lista_de_elementos_nuevos[::3]

['A', 0.5, ['C', 2, False]]

In [46]:
'A' in lista_de_elementos_nuevos

True

In [47]:
"C" in lista_de_elementos_nuevos

False

In [48]:
"C" not in lista_de_elementos_nuevos

True

In [49]:
# iterando sobre un objeto
for elemento in lista_de_elementos_nuevos:
    print(elemento)
    break; # sirve para cortar el paso

A

In [50]:
estudiantes = ['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia', 'Jorge', 'Jorge', 'Jorge']
estudiantes

['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia', 'Jorge', 'Jorge', 'Jorge']

In [51]:
names = []
for name in estudiantes[::2]:
    names.append(name)

In [52]:
names

['Marta', 'Lucas', 'Lucia', 'Jorge']

In [53]:
names = names * 3
names

['Marta',
 'Lucas',
 'Lucia',
 'Jorge',
 'Marta',
 'Lucas',
 'Lucia',
 'Jorge',
 'Marta',
 'Lucas',
 'Lucia',
 'Jorge']

In [54]:
names.sort()

In [55]:
names

['Jorge',
 'Jorge',
 'Jorge',
 'Lucas',
 'Lucas',
 'Lucas',
 'Lucia',
 'Lucia',
 'Lucia',
 'Marta',
 'Marta',
 'Marta']

In [56]:
names.sort(reverse=True)
names

['Marta',
 'Marta',
 'Marta',
 'Lucia',
 'Lucia',
 'Lucia',
 'Lucas',
 'Lucas',
 'Lucas',
 'Jorge',
 'Jorge',
 'Jorge']

In [57]:
frase = 'Hoy es lunes, cuarto día del bootcamp The Bridge'
frase

'Hoy es lunes, cuarto día del bootcamp The Bridge'

In [58]:
frase.split()

['Hoy', 'es', 'lunes,', 'cuarto', 'día', 'del', 'bootcamp', 'The', 'Bridge']

In [59]:
lista_str = frase.split()
lista_str

['Hoy', 'es', 'lunes,', 'cuarto', 'día', 'del', 'bootcamp', 'The', 'Bridge']

In [60]:
lista_str[0].upper()

'HOY'

In [61]:
print

In [62]:
lista_str[:1]

['Hoy']

In [63]:
' '.join(lista_str)

'Hoy es lunes, cuarto día del bootcamp The Bridge'

In [65]:
'_'.join(lista_str)

'Hoy_es_lunes,_cuarto_día_del_bootcamp_The_Bridge'

In [66]:
edades = [41, 40, 36, 33, 26, 21]
edades

[41, 40, 36, 33, 26, 21]

In [69]:
lista_anidada = [edades , estudiantes]
lista_anidada

[[41, 40, 36, 33, 26, 21],
 ['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia', 'Jorge', 'Jorge', 'Jorge']]

In [82]:
lista_anidada[0][1:3] # recorre de la primera lista, índice 1 a 3 (-1)

[40, 36]