In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/datasets/population/main/data/population.csv')
df

      Country Name Country Code  Year     Value
0            Aruba          ABW  1960     54608
1            Aruba          ABW  1961     55811
2            Aruba          ABW  1962     56682
3            Aruba          ABW  1963     57475
4            Aruba          ABW  1964     58178
...            ...          ...   ...       ...
16395     Zimbabwe          ZWE  2017  14751101
16396     Zimbabwe          ZWE  2018  15052184
16397     Zimbabwe          ZWE  2019  15354608
16398     Zimbabwe          ZWE  2020  15669666
16399     Zimbabwe          ZWE  2021  15993524

[16400 rows x 4 columns]

In [12]:
spain_pop = df.loc[(df['Country Name'] == 'Spain') & (df['Year'] == 2021)]['Value']
spain_pop

4401    47415750
Name: Value, dtype: int64

In [13]:
def _suma_10(row):
    return row+10

In [ ]:
].apply(lambda x: x*0.1*2+2.1)

In [14]:
df['Value'].apply(_suma_10)

0           54618
1           55821
2           56692
3           57485
4           58188
           ...
16395    14751111
16396    15052194
16397    15354618
16398    15669676
16399    15993534
Name: Value, Length: 16400, dtype: int64